/* ===== FONTE ===== */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;1,100;1,400;1,600;1,700&display=swap');

/* ===== GLOBAL ===== */
:root {
  /* ===== Font Colors ===== */
  --dark-blue: #363f5f;
  --green: #49aa26;
  --light-green: #3dd705;
  --red: #e92929;
  --table-color: #969cb3;
  
  /* ===== Theme ===== */
  --body-bg: #f0f2f5;
  --card-bg: #fff;
  
  /* ===== Transition Delays ===== */
  --nav-delay: 0.2s;
  --theme-delay: 0.2s;
  
  /* ===== SVG Animation ===== */
  --fill-animation-delay: 0.8s;
}

html {
  font-size: 93.75%; /* 100% de fonte = 16px (padrão do navegador) ||| Então para ser 15px: (100 * 15) / 16 = 93.75 */
}

html.dark {
  /* ===== Theme ===== */
  --body-bg: #222;
  --card-bg: #555;
  
  /* ===== Fonte ===== */
  --dark-blue: #f0f2f5;
  --red: #f44336;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--body-bg);
  font-family: 'Poppins', sans-serif;
  transition: background var(--theme-delay) linear;
}

.container {
  /* Enquanto "90vw" for menor que "800px", ele utiliza "90vw". Quando passar, ele se mantém em "800px" */
  width: min(90vw, 800px);
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* ===== Global Elements ===== */
ul {
  list-style: none;
}

/* ===== Links & Buttons ===== */
a {
  color: var(--green);
  text-decoration: none;
  transition: color 0.2s linear;
}

a:hover {
  color: var(--light-green);
}

button {
  width: 100%;
  height: 50px;
  border: 0;
  border-radius: 0.25rem;
  color: #fff;
  background-color: var(--green);
  cursor: pointer;
  transition: background-color 0.2s linear;
}

button:hover {
  background-color: var(--light-green);
}

.button.new {
  display: inline-block;
  margin-bottom: 0.8rem;
}

.button.cancel {
  color: var(--red);
  border: 2px solid var(--red);
  border-radius: 0.25rem;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
  transition: opacity 0.2s linear;
}

.button.cancel:hover {
  opacity: 1;
}

/* ===== TITLES ===== */
h2 {
  margin: 3.2rem 0 0.8rem 0;
  color: var(--dark-blue);
  font-weight: 400;
}

/* ===== NAV =====*/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  transition: var(--nav-delay) linear;
}

nav.active {
  background: #2d4a22f2;
}

nav img {
  height: 1.25rem;
  margin: 1rem;
  opacity: 0;
  visibility: hidden;
  transition: var(--nav-delay) linear;
}

nav.active img {
  opacity: 1;
  visibility: visible;
}

nav li a {
  color: #fff;
  text-transform: uppercase;
  padding: 0.75rem 1rem;
  cursor: pointer;
}

nav li a:hover {
  color: #fff;
}

nav li a span {
  display: inline-block;
  font-weight: 700;
}

nav li a span:first-child {
  margin-right: 0.45rem;
  display: none;
}

/* ===== HEADER ===== */
header {
  background: #2d4a22;
  padding: 4rem 0 11rem;
  text-align: center;
}

header svg {
  visibility: visible;
  opacity: 1;
  transition: var(--nav-delay) linear var(--nav-delay);
}

header svg.hide {
  visibility: hidden;
  opacity: 0;
}

/* ===== BALANCE ===== */
#balance {
  margin-top: -8rem;
}

#balance h2 {
  color: #fff;
  margin-top: 0;
}

/* ===== CARDS ===== */
.card {
  background: var(--card-bg);
  padding: 1.5rem 2rem;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
  color: var(--dark-blue);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  transition: var(--theme-delay) linear;
}

.card h3 {
  font-weight: 400;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card p {
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 1rem;
  overflow-x: auto;
}

.card.total {
  background: var(--green);
  color: #fff;
  transition: background 0.2s linear;
}

.card.total.red {
  background-color: var(--red);
}

/* ===== TABLE ===== */
#transaction {
  width: 100%;
}

.table-container {
  overflow-x: auto; /* habilita rolagem no eixo x quando necessário (quando estiver no mobile, por exemplo) */
}

#data-table {
  width: 100%;
  border-spacing: 0 0.5rem; /* eixo vertical / horizontal */
  color: var(--table-color);
}

table thead th {
  background: var(--card-bg);
  font-weight: 400;
  padding: 1rem 2rem;
  text-align: left;
  transition: var(--theme-delay) linear;
}

table tbody tr {
  opacity: 0.7;
}

table tbody tr:hover {
  opacity: 1;
}

table tbody td {
  background: var(--card-bg);
  padding: 1rem 2rem;
}

table thead tr th:first-child,
table tbody tr td:first-child {
  border-radius: 0.25rem 0 0 0.25rem;
}

table thead tr th:last-child,
table tbody tr td:last-child {
  border-radius: 0 0.25rem 0.25rem 0;
}

td.description {
  color: var(--dark-blue);
}

td.income {
  color: #12a454;
}

td.expense {
  color: var(--red);
}

/* ===== FOOTER ===== */
footer {
  text-align: center;
  padding: 4rem 0 2rem;
  color: var(--dark-blue);
  opacity: 0.6;
}

/* ===== MODAL ===== */
.modal-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  background-color: var(--body-bg);
  padding: 2.4rem;
  border-radius: 8px;
  width: min(90vw, calc(500px + 2.4rem)); /* ler a linha 28 */
  z-index: 1;
}

/* ===== Formulário do Modal ===== */
#form {
  width: 100%;
}

#form h2 {
  margin-top: 0;
}

.input-group {
  margin-top: 0.8rem;
}

.input-group input {
  border: none;
  border-radius: 0.2rem;
  padding: 0.8rem;
  width: 100%;
}

.input-group .help {
  color: var(--table-color);
}

.input-group.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-group.actions a.button,
.input-group.actions button {
  width: 48%;
}

/* ===== Modal do Menu =====*/
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.7);
  visibility: hidden;
  opacity: 0;
}

.menu-overlay.active {
  visibility: visible;
  opacity: 1;
}

/* ===== Container e itens do Menu ===== */
.menu {
  background: var(--body-bg);
  width: min(90vw, 400px);
  padding: 3rem 2rem;
  border-radius: 8px;
  text-align: center;
  position: relative;
  transition: background var(--theme-delay) linear;
  box-shadow: 0 5px 8px rgba(0,0,0,0.6);
}

.menu h2 {
  margin: 0 0 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
}

.menu .bar {
  width: 100%;
  height: 2px;
  background-color: var(--card-bg);
  border-radius: 2px;
  transition: var(--theme-delay) linear;
}

.menu ul {
  margin-top: 2rem;
}

.menu ul li ~ li {
  margin-top: 0.5rem;
}

.menu li a {
  color: var(--dark-blue);
  font-weight: 600;
  text-transform: uppercase;
  padding: 1rem 0;
  letter-spacing: 0.05rem;
  border-radius: 8px;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s linear;
  overflow: hidden;
}

.menu li a:hover {
  background: var(--card-bg);
}

.menu li a span {
  position: relative;
  border-bottom: 1px dashed var(--dark-blue);
  line-height: 1rem;
  transition: border-bottom var(--theme-delay) linear;
  z-index: 1;
}

.menu li a i {
  position: absolute;
  left: auto;
  top: 50%;
  font-size: 3rem;
  opacity: 0.15;
  transform: translate(-50%, -50%) rotate(9deg);
  z-index: -1;
} 

.menu li a i.fa-sun {
  opacity: 0.25;
  color: orange;
}

.menu li a i.fa-moon {
  opacity: 0.25;
  color: black;
}

.menu .close-menu {
  position: absolute;
  top: 5px;
  right: 5px;
  color: var(--dark-blue);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: var(--theme-delay) linear;
}

/* ===== RESPONSIVO ===== */
/* a partir do width de 800px, ele aplica (a largura mínima da tela precisa ser de 800px para poder aplicar os estilos) */
@media (min-width: 800px) {
  html {
    font-size: 87.5%; /* (100 * 14) / 16 = 85.5 (14px) ||| 100% = 16px (padrão do navegador) */
  }
  
  nav li a span:first-child {
    display: inline-block;
  }
  
  #balance {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}


/* ===== Animação do SVG ===== */
#logo path:nth-child(1) {
  stroke-dasharray: 102;
  stroke-dashoffset: 102;
  animation: svg-animation 1.5s ease forwards, svg-fill-white var(--fill-animation-delay) ease forwards 3.5s;
}

#logo path:nth-child(2) {
  stroke-dasharray: 92;
  stroke-dashoffset: 92;
  animation: svg-animation 1.5s ease forwards 0.2s, svg-fill-white var(--fill-animation-delay) ease forwards 3.5s;
}

#logo path:nth-child(3) {
  stroke-dasharray: 69;
  stroke-dashoffset: 69;
  animation: svg-animation 1.5s ease forwards 0.4s, svg-fill-white var(--fill-animation-delay) ease forwards 3.5s;
}

#logo path:nth-child(4) {
  /* ponto */
  stroke-dasharray: 12;
  stroke-dashoffset: 12;
  animation: svg-animation 1.5s ease forwards 0.6s, svg-fill-green var(--fill-animation-delay) ease forwards 3.5s;
}

#logo path:nth-child(5) {
  stroke-dasharray: 60;
  stroke-dashoffset: 60;
  animation: svg-animation 1.5s ease forwards 0.8s, svg-fill-white var(--fill-animation-delay) ease forwards 3.5s;
}

#logo path:nth-child(6) {
  stroke-dasharray: 49;
  stroke-dashoffset: 49;
  animation: svg-animation 1.5s ease forwards 1s, svg-fill-white var(--fill-animation-delay) ease forwards 3.5s;
}

#logo path:nth-child(7) {
  stroke-dasharray: 80;
  stroke-dashoffset: 80;
  animation: svg-animation 1.5s ease forwards 1.2s, svg-fill-white var(--fill-animation-delay) ease forwards 3.5s;
}

#logo path:nth-child(8) {
  stroke-dasharray: 91;
  stroke-dashoffset: 91;
  animation: svg-animation 1.5s ease forwards 1.4s, svg-fill-white var(--fill-animation-delay) ease forwards 3.5s;
}

#logo path:nth-child(9) {
  stroke-dasharray: 80;
  stroke-dashoffset: 80;
  animation: svg-animation 1.5s ease forwards 1.6s, svg-fill-white var(--fill-animation-delay) ease forwards 3.5s;
}

#logo path:nth-child(10) {
  stroke-dasharray: 73;
  stroke-dashoffset: 73;
  animation: svg-animation 1.5s ease forwards 1.8s, svg-fill-white var(--fill-animation-delay) ease forwards 3.5s;
}

#logo path:nth-child(11) {
  stroke-dasharray: 92;
  stroke-dashoffset: 92;
  animation: svg-animation 1.5s ease forwards 2s, svg-fill-white var(--fill-animation-delay) ease forwards 3.5s;
}

#logo path:nth-child(12) {
  /* cifrão */
  stroke-dasharray: 107;
  stroke-dashoffset: 107;
  animation: svg-animation 1.5s ease forwards 2.2s, svg-fill-green var(--fill-animation-delay) ease forwards 3.5s;
}

@keyframes svg-animation {
  to {
    stroke-dashoffset: 0;
    stroke-width: 1;
  }
}

@keyframes svg-fill-white {
  to {
    fill: white;
    stroke-width: 0;
  }
}

@keyframes svg-fill-green {
  to {
    fill: #49AA26;
    stroke-width: 0;
  }
}