/* ===== RESPONSIVO ===== */
/* a partir do width de 800px, ele aplica (a largura mínima da tela precisa ser de 800px para poder aplicar os estilos) */
@media (min-width: 800px) {
  html {
    font-size: 87.5%; /* (100 * 14) / 16 = 87.5 (14px) ||| 100% = 16px (padrão do navegador) */
  }

  nav li a span:first-child {
    display: inline-block;
  }

  #balance {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}
